#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

preprocess do
  generate_vagrant!
  generate_simplestreams!
end

# =====================
# = Compilation rules =
# =====================

compile '/search-data/' do
  filter :erb
end

compile "/sitemap" do
  filter :erb
end

compile '/static/*' do
end

compile '/vagrant/images' do
  layout "vagrant_index"
  layout "base"
end

compile '/vagrant/img*' do
  filter :box
end

compile '/streams/v1/index/', :rep => :js do
  filter :simplestreams_index
end

compile '/streams/*', :rep => :js do
  filter :simplestreams
end

compile '/streams/v1/index/', :rep => :sjs do
  filter :simplestreams_index
  filter :gpgsign, :clearsign => true
end

compile '/streams/*', :rep => :sjs do
  filter :simplestreams
  filter :gpgsign, :clearsign => true
end

compile '/streams/v1/index/', :rep => :gpg do
  filter :simplestreams_index
  filter :gpgsign
end

compile '/streams/*', :rep => :gpg do
  filter :simplestreams
  filter :gpgsign
end

# compile '/machine/images/img*' do
#   filter :erb
#   layout "machine_image"
#   layout "base"
# end

# compile '/machine_images/' do
#   filter :erb
#   layout "machine_image_index"
#   layout "base"
# end

compile '*' do
  break if item.binary?

  filter :erb
  filter :maruku

  layout item[:layout] if item[:layout]
  layout "base"
end

# ==========
# = Routes =
# ==========

route "/sitemap" do
  "/sitemap.xml"
end

route '/search-data/' do
  "/javascripts"+item.identifier[0..-2]+".js"
end

route '/static/*' do
  # /static/foo.html/ => /foo.html
  item.identifier[7..-2]
end

route '/vagrant/img*' do
  item.identifier.chop + '.box'
end

route '/streams/v1/*/' do
  # No default rep
end

route '*', :rep => :js do
  item.identifier.chop + '.js'
end

route '*', :rep => :sjs do
  item.identifier.chop + '.sjs'
end

route '*', :rep => :gpg do
  item.identifier.chop + '.js.gpg'
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

# ================
# = Layout rules =
# ================

layout "*", :erb
