#!/usr/bin/env ruby
# -*- coding: utf-8 -*-

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

# =====================
# = Compilation rules =
# =====================

compile '/search-data/' do
  filter :erb
end

compile "/sitemap" do
  filter :erb
end

compile '/static/*' do
end

compile '/vagrant/*' do
  filter :box
end

compile '*' do
  break if item.binary?

  filter :erb
  filter :maruku

  layout item[:layout] if item[:layout]
  layout "base"
end

# ==========
# = Routes =
# ==========

route "/sitemap" do
  "/sitemap.xml"
end

route '/search-data/' do
  "/javascripts"+item.identifier[0..-2]+".js"
end

route '/static/*' do
  # /static/foo.html/ => /foo.html
  item.identifier[7..-2]
end

route '/vagrant/*' do
  item.identifier.chop + '.box'
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

# ================
# = Layout rules =
# ================

layout "*", :erb
