html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0;
  padding: 12px 0 0 0;
  font: 0.9em "Lucida Grande",Verdana,Arial,sans-serif; 
  background-color: #112739;
}

body * {
  margin: 0;
  padding: 0;
}

img {
	border: 0;
}
a {
  color: #0065ca;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 130%;
  margin-bottom: 1.2em;
}

ul {
		margin-left: 2em;
		margin-bottom: 1em;
}
ul li {
		margin-bottom: 0.2em;
}

h2 {
  font-family: "myriad-pro-1","myriad-pro-2",sans-serif;
  font-size: 1.4em;
  color: #333;
  margin-bottom: 0.3em;
  border-bottom: 1px solid #bbb;
}

h3 {
  font-family: "myriad-pro-1","myriad-pro-2",sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
  margin-bottom: 0.2em;
}

body > header {
  height: 155px;
  width: 902px;
  background: url("/images/header_bg.png") 0 100px no-repeat;
  margin: 0 auto;
  text-align: center;
}

body > article {
  background: url("/images/body_bg.png") center top repeat-y;
  width: 790px;
  padding: 0 56px 3em 56px;
  margin: 0 auto 0 auto;
  text-align: left;
  min-height: 700px;
}

body > footer {
  text-align: center;
  color: #aaa;
  font-size: 0.6em;
  margin: 0 auto 0 auto;
  width: 902px;
  padding: 1em;
  background: url("/images/body_bg.png") center top repeat-y;
}

article pre {
    background-color: #010101;
    color: #8F8;
    padding: 12px;
    font-size: 0.8em;
    margin-bottom: 1em;
    line-height: 1.3em;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    overflow: auto;
}
article pre code {
  font-family: 'Inconsolata', 'Lucida Console', monospace, sans-serif;
}

article dt code {
		font-size: 1.1em;
}
article dt {
		margin-bottom: 0.2em;
}
article dd {
		padding-left: 4em;
		margin-bottom: 1em;
		color: #444;
}

input#search {
		display: none;
		font-size: 0.9em;
		padding: 0.2em;
		position: relative;
		left: 305px;
		top: -30px;
		width: 200px;
}
ul.ui-autocomplete {
		font-size: 0.8em;
}
ul.ui-autocomplete li {
		text-align: left;
}