<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Brightbox - <%= @item[:title] || "" %></title>
    <link href="/stylesheets/0reset.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/960_24_col.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/buttons.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/tiptip.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
		<link href="http://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  </head>
<body class="docs">

 <header class="green">
   <%= render "nav" %>

   <div id="banner" <% if @item[:header] && @item[:header][:banner] %>style="<%= @item[:header][:banner] %>"<% end %>>

      <div class="container_24 small" id="banner_inner">

          <div id="title">
            <h2>Documentation.</h2>
            <%= clear %>
          </div>
      </div>

    </div><!-- /banner -->
</header>

<%= yield %>

<%= render "footer" %>

   <script type="text/javascript">
    head.js(
     { 'jquery': 'http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' },
     { 'jqueryui': 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js' },
     { 'docs': '/javascripts/docs.js'});
  </script>
</body>
</html>
