<footer>
<div id="footer_inner" class="container_24">
  <div class="grid_9 alpha">
  <h4>Follow @brightbox</h4>  
    
  <p class="social">
    <a href="http://twitter.com/brightbox" title="Twitter (@brightbox)" class="tip"><img src="/images/icons/twitter.png" /></a> 
    <a href="http://facebook.com/brightbox" title="Facebook" class="tip"><img src="/images/icons/facebook.png" /></a> 
    <a href="http://flickr.com/brightbox" title="Flickr" class="tip"><img src="/images/icons/flickr.png" /></a> 
    <a href="http://github.com/brightbox" title="GitHub" class="tip"><img src="/images/icons/github.png" /></a> 
    <a href="http://youtube.com/brightbox" title="YouTube" class="tip"><img src="/images/icons/youtube.png" /></a> 
  </p>
    
   <form id="subscribe" action="http://brightbox.createsend.com/t/y/s/bykuul/" method="post">
     <label for="bykuul-bykuul">Receive email updates about new products, features and other news (unsubscribe anytime).</label>
     
      <p>
        <input type="text" name="cm-bykuul-bykuul" id="bykuul-bykuul" placeholder="your email" />
      <button type="submit">subscribe</button></p>
    </form>
    <p class="copyright">Copyright &copy; <%= Date.today.year %> Brightbox Systems Ltd</p>
    <p class="links">
      <a href="/legal/terms">Terms &amp; Conditions</a> &bull; 
      <a href="https://api.gb1.brightbox.com/1.0/">API</a> &bull; 
      <a href="http://docs.brightbox.com">Documentation</a> &bull;
      <a href="/about/contact">Contact us</a>
    </p>
  </div>

  <%= clear %>

<a href="http://github.com/brightbox/brightbox-docs" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/e6bef7a091f5f3138b8cd40bc3e114258dd68ddf/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub"></a>
  
</div>
</footer>