<footer>
<div id="footer_inner" class="container_24">
  <div class="grid_9 alpha">
  <h4>Follow @brightbox</h4>  
    
  <p class="social">
    <a href="http://twitter.com/brightbox" title="Twitter (@brightbox)" class="tip"><img src="<%= MAIN_SITE_URL %>/images/icons/twitter.png" /></a> 
    <a href="http://facebook.com/brightbox" title="Facebook" class="tip"><img src="<%= MAIN_SITE_URL %>/images/icons/facebook.png" /></a> 
    <a href="http://www.flickr.com/photos/brightbox" title="Flickr" class="tip"><img src="<%= MAIN_SITE_URL %>/images/icons/flickr.png" /></a> 
    <a href="https://github.com/brightbox" title="GitHub" class="tip"><img src="<%= MAIN_SITE_URL %>/images/icons/github.png" /></a> 
    <a href="http://youtube.com/brightbox" title="YouTube" class="tip"><img src="<%= MAIN_SITE_URL %>/images/icons/youtube.png" /></a> 
  </p>
    
   <form id="subscribe" action="http://brightbox.createsend.com/t/y/s/bykuul/" method="post">
     <label for="bykuul-bykuul">Receive email updates about new products, features and other news (unsubscribe anytime).</label>
     
      <p>
        <input type="text" name="cm-bykuul-bykuul" id="bykuul-bykuul" placeholder="your email" />
      <button type="submit">subscribe</button></p>
    </form>
    <p class="copyright">Copyright &copy; <%= Date.today.year %> Brightbox Systems Ltd</p>
    <p class="links">
      <a href="<%= MAIN_SITE_URL %>/legal/terms">Terms &amp; Conditions</a> &bull; 
      <a href="https://api.gb1.brightbox.com/1.0/">API</a> &bull; 
      <a href="http://docs.brightbox.com">Documentation</a> &bull;
      <a href="<%= MAIN_SITE_URL %>/about/contact">Contact us</a>
    </p>
  </div>

  <%= clear %>

<a href="https://github.com/brightbox/docs.brightbox.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
  
</div>
</footer>
