<div id="main">
  <div class="container_24">
    
    <div id="sidebar" class="grid_5">

      <%= render "sidebar" %>

    </div><!-- /sidebar -->
    
    <div class="content grid_18 prefix_1">
      <%= render "breadcrumbs" %>

      <h2><%= @item[:title] %></h2>
    
      <%= yield %>
            
      <div id="share">
				<p class="last_updated">Page last updated <%= @item.mtime.strftime("%d %b %Y at %H:%M %Z") %></p>      
      </div>
      
    </div><!-- /content -->
    
  </div><!-- /container_24 -->
</div><!-- /banner -->
